include head.pug
include side-nav.pug
include global-header.pug
include header-carousel.pug
include global-footer.pug
include layout-single-col.pug
include layout-single-col-lg.pug
include layout-two-col.pug
include product-list-item.pug
include product-pagination.pug