mixin global-header
	header.global-header(class!=attributes.class)
		.container.mx-auto.max-w-screen-2xl.flex.justify-between.items-center.text-white(class="sm:items-start")
			a.global-header__social-media-icon(href="#")
				i.ai-instagram
			a(href="#")
				img.global-header__logo(style="", src="/assets/images/agf-logo-nov18-white-1000.png")
			button.z-zindex-overlay-close-btn.reset.anim-menu-btn.bg-contrast-bard.js-anim-menu-btn.js-tab-focus(aria-label='Toggle menu', aria-controls="drawer-1")
				i.anim-menu-btn__icon.anim-menu-btn__icon--close(aria-hidden='true')