mixin global-footer
	footer.bg-agua-granite.text-white
		.container.py-32.px-16.justify-between.mx-auto.max-w-screen-2xl(class="md:p-48 md:flex")
			ul.text-18px.text-meuso-300(class="sm:flex")
				li
					a(href="#") Terms and Conditions
				li(class="mt-16 sm:mt-0 sm:ml-24")
					a(href="#") Privacy Policy
				li(class="mt-16 sm:mt-0 sm:ml-24")
					a(href="#") Contact and Order
			div(class="mt-32 md:mt-0") © Agua Fabrics