mixin header-carousel
	.agua-header-carousel.bg-agua-yellow.flex.items-end.justify-center.relative
		.absolute.inset-0.bg-agua-red.overflow-hidden
			img.h-full.w-full.object-cover(src="/assets/images/Agua-Fabric-Showroom-698-1750x1750.jpg")
		.flex.flex-col.items-center.py-32
			button.btn.btn--transparent.btn--md.w-full.font-museo-300(class="w-1/2")
				.icon.mr-8.ai-search
				| Search for a fabric
			button.btn.btn--transparent.btn--sm.mt-24.w-full Download our entire fabric range
		