mixin product-pagination
	nav.pagination(aria-label='Pagination')
	ol.pagination__list.flex.flex-wrap.gap-xxxs
		li
			a.pagination__item.pagination__item--disabled(href='#0' aria-label='Go to previous page')
				svg.icon.margin-right-xxxs(aria-hidden='true' viewBox='0 0 16 16')
					title Previous
					g(stroke-width='1' stroke='currentColor')
						polyline(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' points='9.5,3.5 5,8 9.5,12.5 ')
				span Prev
		li(class="sm:block")
			a.pagination__item(href='#0' aria-label='Go to page 1') 1
		li(class="sm:block")
			a.pagination__item(href='#0' aria-label='Go to page 2') 2
		li(class="sm:block")
			a.pagination__item.pagination__item--selected(href='#0' aria-label='Current Page, page 3' aria-current='page') 3
		li(class="sm:block")
			a.pagination__item(href='#0' aria-label='Go to page 4') 4
		li(class="sm:block" aria-hidden='true')
			span.pagination__item.pagination__item--ellipsis ...
		li(class="sm:block")
			a.pagination__item(href='#0' aria-label='Go to page 20') 20
		li
			a.pagination__item(href='#0' aria-label='Go to next page')
				span Next
				svg.icon.margin-left-xxxs(aria-hidden='true' viewBox='0 0 16 16')
					title Next
					g(stroke-width='1' stroke='currentColor')
						polyline(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' points='6.5,3.5 11,8 6.5,12.5 ')
