mixin product-list-item
	div.w-full.p-24(class="xs:w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5")
		a(href="fabric-listing.html").text-center.space-y-16
			.bg-agua-red.aspect-ratio-square.rounded-full.relative.overflow-hidden
				.inset-0.absolute
					img(src="https://www.aguafabrics.com/media/Agua_Fabrics_@work_Buro_F_Orchid_150mm_x_150mm_300dpi-1-1024x1024.jpg")
			h2.text-18px.font-museo-500.text-agua-kettleman Product Range
			p.text-18px.font-museo-300.text-agua-kettleman Fabric Name
