mixin side-nav
	//- Codyhouse Drawer
	aside#drawer-1.drawer.js-drawer
		.drawer__content.bg(role='alertdialog')
			.drawer__body.js-drawer__body
				nav.sidenav.js-sidenav.text-18px.font-museo-300
					ul.sidenav__list
						li.sidenav__item
							.h-48
							a.sidenav__link(href='#0')
								span.sidenav__text home
						li.sidenav__item
							a.sidenav__link(href='our-fabrics.html')
								span.sidenav__text our fabrics
						li.sidenav__item
							a.sidenav__link(href='#0')
								span.sidenav__text our collections
						li.sidenav__item.mt-2
							a.sidenav__link(href='workplace-fabrics.html')
								span.sidenav__text workplace fabrics
						li.sidenav__item.mt-2
							a.sidenav__link(href='#0')
								span.sidenav__text fabric hygiene
							button.reset.sidenav__sublist-control.js-sidenav__sublist-control.js-tab-focus(aria-label='Toggle fabric hygiene sub navigation')
								svg.icon(width='64' height='64' viewBox='0 0 64 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
									path#Mask(fill="#FFFFFF",d='M29.9972086,50.6942657 L1.51464271,22.2115533 C0.14095243,20.837863 0.14095243,18.6107641 1.51464271,17.2372204 L4.83667808,13.9151851 C6.20802343,12.5438397 8.43057897,12.5412017 9.8051486,13.9093227 L32.4844483,36.4823677 L55.1636014,13.9093227 C56.538171,12.5412017 58.7607266,12.5438397 60.1320719,13.9151851 L63.4541073,17.2372204 C64.8277976,18.6109107 64.8277976,20.8380096 63.4541073,22.2115533 L34.971688,50.6942657 C33.5979977,52.0678094 31.3708989,52.0678094 29.9972086,50.6942657 Z')
							
							ul.sidenav__list
								li.sidenav__item
									a.sidenav__link(href='#0')
										span.sidenav__text AguaGuard365
								li.sidenav__item
									a.sidenav__link(href='#0')
										span.sidenav__text Cleaning & Disinfecting
						li.sidenav__item.mt-2
							a.sidenav__link(href='#0')
								span.sidenav__text AGUA health
						li.sidenav__item
							a.sidenav__link(href='#0')
								span.sidenav__text information hub
						li.sidenav__item.mt-2
							a.sidenav__link(href='#0')
								span.sidenav__text stories
						li.sidenav__item
							a.sidenav__link(href='who-we-are.html')
								span.sidenav__text who we are
						li.sidenav__item
							a.sidenav__link(href='#0')
								span.sidenav__text contact and order
						li.sidenav__item.mt-2
							a.sidenav__link(href='#0')
								span.sidenav__text global distributors
						li.sidenav__item
							a.sidenav__link(href='#0')
								span.sidenav__text sustainability + CSR
						li.sidenav__item.mt-2
							a.sidenav__link(href='#0')
								span.sidenav__text login
						li.sidenav__item
							a.sidenav__link(href='#0')
								span.sidenav__text sign up									
						li.sidenav__item
							a.sidenav__link(href='#0')
								span.sidenav__text search