include components/all.pug
+head("Agua Fabrics")
	section.bg-agua-fabric-red
		.container.mx-auto.p-8.text-center
			a(href="#", class="hover:underline transition").text-white.text-18px New aguaguard365 anti-microbial fabric technology now available – click to read more.
	<!-- GLOBAL HEADER -->
	section
		+global-header(class="global-header--relative")
		+side-nav
	<!-- MAIN PAGE CONTENT -->
	main.flex-1
		div.bg-agua-kettleman
			.container.mx-auto.px-32.py-8.max-w-screen-xl
				h2.text-white.text-34px.font-museo-300 Buro Collection
		.container.mx-auto.px-32.max-w-screen-xl
			.flex
				div(class="w-3/12 bg-agua-granite text-white")
					.bg-agua-red
						img(src="https://www.aguafabrics.com/media/AGUA_AT_WORK_BURO_COLLECTION_1024x449px-1-1024x449.jpg")
					.p-24.text-white.space-y-16.font-museo-300
						p A soft polyester giving the appearance of a traditional wool fabric, suitable for a wide range of commercial furniture.
						small *Available to order in Crib 5*
					.flex.p-8
						div.p-8(class="w-1/4")
							div.w-full.text-center
								i.ai-wp.text-40px.text-white
								div.text-14px.font-museo-300.text-white.pt-8 Waterproof
						div.p-8(class="w-1/4")
							div.w-full.text-center
								i.ai-bc.text-40px.text-white
								div.text-14px.font-museo-300.text-white.pt-8 Bleach Cleanable
						div.p-8(class="w-1/4")
							div.w-full.text-center
								i.ai-am.text-40px.text-white
								div.text-14px.font-museo-300.text-white.pt-8 Anti-Microbial
						div.p-8(class="w-1/4")
							div.w-full.text-center
								i.ai-rc.text-40px.text-white
								div.text-14px.font-museo-300.text-white.pt-8 REACH Compliant
				div.px-24.py-16.space-y-16(class="w-5/12")
					h1.text-28px.font-museo-300.text-agua-kettleman Buro Brick
					img(src="https://www.aguafabrics.com/media/Agua_Fabrics_@work_Buro_R_Brick_150mm_x_150mm_300dpi-1024x1024.jpg")
					.text-component
						p Images are an approximate guide to colour: We only recommend colour matching with a physical fabric swatch in the lighting conditions in which the fabric will be used.
				div.mt-64.text-agua-kettleman.font-museo-300(class="w-4/12")
					a.flex.items-center(href="#")
						i.icon-angle-circled-left.text-34px
						| Return to search
					a.flex.items-center(href="#")
						i.icon-angle-circled-left.text-34px
						| See all fabrics in this range
					div.pl-48.space-y-8
						p <span class="font-museo-500">Roll width:</span> 140cm
						nav
							ul.space-y-8
								li
									i.icon-download
									a(href="#") Download hi-res image
								li
									i.icon-envelope-open
									a(href="#") Request a sample of this fabric
								li
									i.icon-th
									a(href="#") Order shade cards
						p.font-museo-500 Buro Range Downloads:
						nav
							ul.space-y-8
								li
									i.icon-download
									a(href="#") eShade Card
								li
									i.icon-download
									a(href="#") Technical Specifications
								li
									i.icon-download
									a(href="#") FR Crib 5 Test Certificate
								li
									i.icon-download
									a(href="#") FR Domestic Test Certificate
								li
									i.icon-download
									a(href="#") FR Low Hazard Certificate
	<!-- GLOBAL FOOTER -->
	+global-footer