include components/all.pug
+head("Agua Fabrics")
	section.bg-agua-fabric-red
		.container.mx-auto.p-8.text-center
			a(href="#", class="hover:underline transition").text-white.text-18px New aguaguard365 anti-microbial fabric technology now available – click to read more.
	<!-- GLOBAL HEADER -->
	section
		+global-header
		+side-nav
		+header-carousel
	<!-- MAIN PAGE CONTENT -->
	main.flex-1
		.container.mx-auto.max-w-screen-sm
			.text-component.my-32
				h2.font-museo-700.text-34px.text-agua-fabric-red Upholstery Fabric Fire Standards For Home Working Furniture
				p The recent rapid rise in demand for home working furniture has brought with it confusion as to which set of fire standards apply – domestic or commercial?
				p.font-museo-300.text-18px.text-agua-kettleman All Agua Performance and @Work fabrics comply with the following UK fire standards:
				<ul>
					<li>Domestic Cigarette &amp; Match – BS5852 Pt1 1979 (Schedule 4 part 1 &amp; 5 part 1)</li>
					<li>Contract Cigarette &amp; Match – BS EN 1021 – 1:2006 1&amp;2</li>
					<li>Contract Crib 5 – BS7176 Medium Hazard</li>
				</ul>
				p With every regulatory eventuality covered, significant UK stock, Agua is the fast, safe, worry and confusion free choice for Home Working furniture.
				hr.my-32
				h2.font-museo-700.text-34px.text-agua-fabric-red Performance Upholstery Fabrics
				h1.font-museo-300.text-28px.text-agua-kettleman About Us
				p.font-museo-300.text-18px.text-agua-kettleman Agua is a UK-based market leader in performance upholstery fabrics. We have global reach supplying the contract market in: Commercial, Cruise, Custodial, Education, Healthcare, Hospitality, Marine and Senior Living.
				p.font-museo-300.text-18px.text-agua-kettleman A combination of technical knowledge with superb practicality and durability: Agua is a family owned business that has been supplying products to the contract market since the 1930s.
	section.bg-agua-silver
		.container.mx-auto.max-w-screen-sm.py-32
			.text-component
				h2.font-museo-300.text-28px.text-agua-kettleman.mb-32 All our fabrics are:
				.flex.flex-wrap.mb-32
					div.p-8(class="w-1/2 md:w-1/4")
						div.w-full.text-center
							i.ai-wp.text-54px.text-agua-granite
							div.text-18px.font-museo-300.text-agua-kettleman Waterproof
					div.p-8(class="w-1/2 md:w-1/4")
						div.w-full.text-center
							i.ai-bc.text-54px.text-agua-granite
							div.text-18px.font-museo-300.text-agua-kettleman Bleach Cleanable
					div.p-8(class="w-1/2 md:w-1/4")
						div.w-full.text-center
							i.ai-am.text-54px.text-agua-granite
							div.text-18px.font-museo-300.text-agua-kettleman Anti-Microbial
					div.p-8(class="w-1/2 md:w-1/4")
						div.w-full.text-center
							i.ai-rc.text-54px.text-agua-granite
							div.text-18px.font-museo-300.text-agua-kettleman REACH Compliant
					div.p-8(class="w-1/2 md:w-1/4")
						div.w-full.text-center
							i.ai-sr.text-54px.text-agua-granite
							div.text-18px.font-museo-300.text-agua-kettleman Stain Resistant
					div.p-8(class="w-1/2 md:w-1/4")
						div.w-full.text-center
							i.ai-fr.text-54px.text-agua-granite
							div.text-18px.font-museo-300.text-agua-kettleman Fire Retardant
					div.p-8(class="w-1/2 md:w-1/4")
						div.w-full.text-center
							i.ai-pf.text-54px.text-agua-granite
							div.text-18px.font-museo-300.text-agua-kettleman Phthalate Free
					div.p-8(class="w-1/2 md:w-1/4")
						div.w-full.text-center
							i.ai-mr.text-54px.text-agua-granite
							div.text-18px.font-museo-300.text-agua-kettleman Martindale Rated
				p.font-museo-300.text-18px.text-agua-kettleman
					em All upholstery collections are fire retardant to BS7176 Crib 5 for Medium Hazard areas and IMO Resolution A652(16) / IMO Annex 1 Part 8 for Marine use.
	<!-- Accreditations -->
	section.bg-agua-kettleman
		.container.mx-auto.max-w-xl.py-64
			.flex.justify-center
				div.px-32.flex.items-center
					<img width="75" height="40" src="https://www.aguafabrics.com/media/logo-bcfa-white-300x160.png" class="" alt="" srcset="https://www.aguafabrics.com/media/logo-bcfa-white-300x160.png 300w, https://www.aguafabrics.com/media/logo-bcfa-white-100x53.png 100w, https://www.aguafabrics.com/media/logo-bcfa-white-600x321.png 600w, https://www.aguafabrics.com/media/logo-bcfa-white.png 750w" sizes="(max-width: 300px) 100vw, 300px">
				div.px-32
					<img width="75" height="40" src="https://www.aguafabrics.com/media/logo-iso-white-300x300.png" class="" alt="" srcset="https://www.aguafabrics.com/media/logo-iso-white-300x300.png 300w, https://www.aguafabrics.com/media/logo-iso-white-150x150.png 150w, https://www.aguafabrics.com/media/logo-iso-white-350x350.png 350w, https://www.aguafabrics.com/media/logo-iso-white-600x601.png 600w, https://www.aguafabrics.com/media/logo-iso-white-100x100.png 100w, https://www.aguafabrics.com/media/logo-iso-white.png 750w" sizes="(max-width: 300px) 100vw, 300px">
	<!-- GLOBAL FOOTER -->
	+global-footer