include components/all.pug
+head("Agua Fabrics")
	section.bg-agua-fabric-red
		.container.mx-auto.p-8.text-center
			a(href="#", class="hover:underline transition").text-white.text-18px New aguaguard365 anti-microbial fabric technology now available – click to read more.
	<!-- GLOBAL HEADER -->
	section
		+global-header(class="global-header--relative")
		+side-nav
	<!-- MAIN PAGE CONTENT -->
	main.flex-1
		+layout-single-col-lg()(class="space-y-32")
			h1.text-agua-kettleman.font-museo-300 Apply Filters
			.bg-agua-red.h-80 Tabs
			.bg-primary-lighter.h-80 Filters
			<!-- PRODUCT LISTS -->
			section.flex.flex-wrap.-mx-24
				+product-list-item
				+product-list-item
				+product-list-item
				+product-list-item
				+product-list-item
				+product-list-item
			nav
				+product-pagination
	<!-- GLOBAL FOOTER -->
	+global-footer