include components/all.pug
+head("Agua Fabrics")
	main.p-16
		h1.text-34px Typescale
		hr.mb-16
		.text-72px.text-agua-health-green.font-museo-700 Text that belongs on this pages
		.h-16
		.text-54px.text-agua-fabric-red.font-museo-300 Text that belongs on this pages
		.h-16
		.text-34px.text-agua-health-green.font-museo-700 Text that belongs on this pages
		.h-16
		.text-28px.text-agua-kettleman.font-museo-500 Text that belongs on this pages
		.h-16
		.text-18px.text-agua-health-green.font-museo-700 Text that belongs on this pages
		.h-16
		.text-14px.text-agua-kettleman.font-museo-500 Text that belongs on this pages
		.h-32
		h1.text-34px Colors
		hr.mb-16
		.flex.-m-8
			.h-48.w-48.m-8
				.bg-agua-fabric-red.h-full
			.h-48.w-48.m-8
				.bg-agua-red.h-full
			.h-48.w-48.m-8
				.bg-agua-fabric-green.h-full
			.h-48.w-48.m-8
				.bg-agua-health-green.h-full
			.h-48.w-48.m-8
				.bg-agua-silver.h-full
			.h-48.w-48.m-8
				.bg-agua-granite.h-full
			.h-48.w-48.m-8
				.bg-agua-kettleman.h-full
			.h-48.w-48.m-8
				.bg-agua-carbon.h-full
		.h-32
		h1.text-34px Buttons
		hr.mb-md
		div.mb-8
			button.btn.btn--success.btn--sm Button
			button.btn.btn--success.ml-8 Button
			button.btn.btn--success.btn--md.ml-8 Button
			button.btn.btn--success.btn--lg.ml-8 Button
		div.mb-8
			button.btn.btn--primary.btn--sm Button
			button.btn.btn--primary.ml-8 Button
			button.btn.btn--primary.btn--md.ml-8 Button
			button.btn.btn--primary.btn--lg.ml-8 Button
		div.mb-8
			button.btn.btn--error.btn--sm Button
			button.btn.btn--error.ml-8 Button
			button.btn.btn--error.btn--md.ml-8 Button
			button.btn.btn--error.btn--lg.ml-8 Button
		div.mb-8
			button.btn.btn--warning.btn--sm Button
			button.btn.btn--warning.ml-8 Button
			button.btn.btn--warning.btn--md.ml-8 Button
			button.btn.btn--warning.btn--lg.ml-8 Button
		div.mb-8
			button.btn.btn--success.btn--disabled.btn--sm Button
			button.btn.btn--success.btn--disabled.ml-8 Button
			button.btn.btn--success.btn--disabled.btn--md.ml-8 Button
			button.btn.btn--success.btn--disabled.btn--lg.ml-8 Button
		.h-32
		h1.text-34px Forms
		hr.mb-8
		form
			fieldset
				legend.form-legend Form Legend
				.mb-8
					label.form-label.mb-4 Form Label:
					input.form-control.w-full(type="text")
		