include components/all.pug
+head("Agua Fabrics")
	section.bg-agua-fabric-red
		.container.mx-auto.p-8.text-center
			a(href="#", class="hover:underline transition").text-white.text-18px New aguaguard365 anti-microbial fabric technology now available – click to read more.
	<!-- GLOBAL HEADER -->
	section
		+global-header
		+side-nav
		+header-carousel
	<!-- MAIN PAGE CONTENT -->
	main.flex-1
		+layout-two-col
			.text-component(class="w-full sm:w-1/2")
				h1.font-museo-500.text-40px.text-agua-fabric-red Our Story
				p We love fabrics. For over 80 years we have been involved in the contract market, originally making and supplying uniforms and gowns for hospitals before the Second World War. Our business has evolved over time. Now, in the 21 st Century, our knowledge of the contract sector has made us the leader in technical performance upholstery fabrics.
				p Our first waterproof and fire retardant upholstery collection was launched in 2004, and we now have an extensive range of over 23 collections and over 600 different fabric choices. From all our years of experience we understand the needs and requirements of performance fabrics in demanding environments.
				p We are based in North London with a partner network for worldwide warehousing and distribution. We hold large levels of stock for all our collections and aim to supply orders globally within a few working days of receiving an order.
			.text-component(class="w-full sm:w-1/2")
				.w-full.h-80.bg-agua-red Content
	<!-- GLOBAL FOOTER -->
	+global-footer