include components/all.pug
+head("Agua Fabrics")
	section.bg-agua-fabric-red
		.container.mx-auto.p-8.text-center
			a(href="#", class="hover:underline transition").text-white.text-18px New aguaguard365 anti-microbial fabric technology now available – click to read more.
	<!-- GLOBAL HEADER -->
	section
		+global-header(class="global-header--relative")
		+side-nav
	<!-- MAIN PAGE CONTENT -->
	main.flex-1
		.container.mx-auto.max-w-screen-sm
			.text-component.my-32
				h1.font-museo-500.text-40px.text-agua-fabric-red Introducing Agua’s new workplace fabrics range
				p After two intensive years of development, and created using Agua’s unrivalled technical knowledge, we are delighted to launch our @Work range of upholstery fabric collections designed to address the requirements of the workplace sector. Not only that, our new fabrics look good, feel great, and are easy to use during manufacture.
				p @Work contains a mix of both woven and faux leather (vegan leather) upholstery fabrics with dual fire rating options as standard*.
				p This is backed up by our supply chain expertise using UK-only stock to achieve rapid delivery direct to our customers across the globe.
				p The good news is we are bringing all 150 fabrics to you at truly competitive prices.
				p Contact us for shade cards, an @Work binder, or samples so you can experience the @Work range yourself at first hand.
				small *Cigarette & match, or Crib 5.
				
			.flex.flex-col.mb-24.px-16(class="sm:flex-row space-y-16 sm:space-y-0 sm:space-x-16")
				button.btn.btn--md.btn--primary Contact us about @work
				button.btn.btn--md.btn--primary Search for a fabric
	<!-- GLOBAL FOOTER -->
	+global-footer